flows/Lesson5.flow
[{"id":"77c4e223.22c9cc","type":"ibmiot in","z":"56e5b0e4.4f7e3","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"51ce741e.83bacc","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["84207463.6d2f7","e333bf4e.c5cb28"]]},{"id":"84207463.6d2f7","type":"debug","z":"56e5b0e4.4f7e3","name":"","active":false,"console":"false","complete":"false","x":310,"y":60,"wires":[]},{"id":"7acef8e.e779a88","type":"rpi-sensehat in","z":"56e5b0e4.4f7e3","name":"","motion":false,"env":true,"stick":false,"x":80,"y":240,"wires":[["6cacb1f7.6fea78","faba8af6.7b1668"]]},{"id":"88303e7c.0db3f8","type":"rpi-sensehat out","z":"56e5b0e4.4f7e3","name":"","x":610,"y":240,"wires":[]},{"id":"faba8af6.7b1668","type":"function","z":"56e5b0e4.4f7e3","name":"Dynamic Threshold Controlled by Bluemix","func":"threshold = 0;\nthreshold = global.get('threshold');\n\nif ( msg.payload.temperature > threshold ) {\n   msg.payload = \"*,*,red\";\n} else if (msg.payload.temperature <= threshold){\n   msg.payload = \"*,*,green\";\n}\nreturn msg;","outputs":"1","noerr":0,"x":340,"y":240,"wires":[["88303e7c.0db3f8"]]},{"id":"e333bf4e.c5cb28","type":"function","z":"56e5b0e4.4f7e3","name":"Receive Threshold from WIoTP","func":"global.set('threshold',msg.payload.d.tempthresh);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[[]]},{"id":"6cacb1f7.6fea78","type":"debug","z":"56e5b0e4.4f7e3","name":"","active":false,"console":"false","complete":"false","x":250,"y":300,"wires":[]}]
