flows/Lesson3.flow
[{"id":"cafc8594.400628","type":"rpi-sensehat in","z":"9e7e27aa.f908a","name":"","motion":false,"env":true,"stick":false,"x":120,"y":120,"wires":[["ab8411a3.071df","9eeedaa.700b1a8","a8888a05.b142e"]]},{"id":"sampleDeviceID","type":"wiotp out","z":"9e7e27aa.f908a","authType":"d","qs":"true","qsDeviceId":"sampleDeviceID","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":530,"y":220,"wires":[]},{"id":"ab8411a3.071df","type":"debug","z":"9e7e27aa.f908a","name":"","active":false,"console":"false","complete":"false","x":350,"y":120,"wires":[]},{"id":"9eeedaa.700b1a8","type":"delay","z":"9e7e27aa.f908a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":220,"wires":[["51ce741e.83bacc"]]},{"id":"a8888a05.b142e","type":"switch","z":"9e7e27aa.f908a","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"32","vt":"str"},{"t":"lt","v":"32","vt":"str"}],"checkall":"true","outputs":2,"x":350,"y":380,"wires":[["6860c85c.1c05f"],["11a8bcf5.683c4b"]]},{"id":"6c9a9bfc.7b5ce4","type":"rpi-sensehat out","z":"9e7e27aa.f908a","name":"","x":630,"y":380,"wires":[]},{"id":"6860c85c.1c05f","type":"function","z":"9e7e27aa.f908a","name":"Hot","func":"msg.payload = \"*,*,red\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["6c9a9bfc.7b5ce4"]]},{"id":"11a8bcf5.683c4b","type":"function","z":"9e7e27aa.f908a","name":"Cold","func":"msg.payload = \"*,*,green\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["6c9a9bfc.7b5ce4"]]}]
