flows/Quickstart-Bluemix.flow
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"a19fc922.eb7d3","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"sampleDeviceID","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"a19fc922.eb7d3","name":"temp","func":"return {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"a19fc922.eb7d3","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"32","vt":"str"},{"t":"gt","v":"32","vt":"str"}],"checkall":"true","outputs":2,"x":453,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"a19fc922.eb7d3","name":"cpu status","active":true,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"a19fc922.eb7d3","name":"device data","active":false,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"a19fc922.eb7d3","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"a19fc922.eb7d3","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["5dad02b7.a252fc"]]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"a19fc922.eb7d3","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"sampleDeviceID","deviceType":"0.15.1","eventCommandType":"update","format":"json","data":"temp:10","qos":"","name":"Send to IBM IoT Platform","service":"quickstart","x":630,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"a19fc922.eb7d3","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["6b4a591c.014b18"]]},{"id":"6b4a591c.014b18","type":"function","z":"a19fc922.eb7d3","name":"Set Threshold for Raspberry Pi Sense HAT","func":"// Set the temperature threshold that will trigger\n// a colored alert on the SenseHat LED display.\nvar tempthresh = 35;\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"tempthresh\" : tempthresh\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["cbe1a0b7.cd877","805c97ee.3ed9e8"]]},{"id":"805c97ee.3ed9e8","type":"debug","z":"a19fc922.eb7d3","name":"Debug output payload","active":true,"console":"false","complete":"payload","x":620,"y":200,"wires":[]},{"id":"141b7c7.ad42a84","type":"comment","z":"a19fc922.eb7d3","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"c2dd8ed5.7dd7f","type":"comment","z":"a19fc922.eb7d3","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":80,"wires":[]},{"id":"7926c7b2.86d938","type":"comment","z":"a19fc922.eb7d3","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"a19fc922.eb7d3","name":"Configure source","info":"","x":100,"y":360,"wires":[]}]
