flows/Registered-Bluemix.flow
[{"id":"7c2cb364.638914","type":"ibmiot in","z":"11502e2b.8e8b4a","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["3cc788fb.2881e","f369a66c.c35e48"]]},{"id":"3cc788fb.2881e","type":"debug","z":"11502e2b.8e8b4a","name":"","active":false,"console":"false","complete":"false","x":270,"y":60,"wires":[]},{"id":"f369a66c.c35e48","type":"function","z":"11502e2b.8e8b4a","name":"Acceleration Alert","func":"var Warning = \"\";\nif (msg.payload.d.acceleration.x > 1) {\n    Warning = \"X Acceleration Alert \";\n}\nif (msg.payload.d.acceleration.y > 1) {\n    Warning = Warning + \"Y Acceleration Alert \";\n}\nif (msg.payload.d.acceleration.z > 1) {\n    Warning = Warning + \"Z Acceleration Alert\";\n}\n\n// Only output the Warning msg if there was a Shock\nif (Warning.length > 0 ) {\n   msg.payload = Warning;\n   return [ null, msg ];\n} else {\n   return [ msg, null ];\n}","outputs":"2","noerr":0,"x":290,"y":120,"wires":[[],["b6cc7bb7.1ccfb","93acebbc.f88fb"]]},{"id":"edd304b9.3e3b6","type":"twitter out","z":"11502e2b.8e8b4a","twitter":"","name":"Tweet","x":650,"y":120,"wires":[]},{"id":"b6cc7bb7.1ccfb","type":"delay","z":"11502e2b.8e8b4a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":120,"wires":[["edd304b9.3e3b6","1c5a68d.77f3117"]]},{"id":"1c5a68d.77f3117","type":"twilio out","z":"11502e2b.8e8b4a","service":"_ext_","twilio":"","from":"","number":"","name":"","x":650,"y":180,"wires":[]},{"id":"93acebbc.f88fb","type":"function","z":"11502e2b.8e8b4a","name":"Format DB Record","func":"return {\n    payload: {\n        time: new Date().getTime(),\n        shock: msg.payload\n    }\n};","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["1bf5c8c0.ca1e4f"]]},{"id":"1bf5c8c0.ca1e4f","type":"cloudant out","z":"11502e2b.8e8b4a","name":"","cloudant":"","database":"rasppi-sensehat-acceleration-shocks","service":"WorldofWatson-BasicIoT-cloudantNoSQLDB","payonly":true,"operation":"insert","x":570,"y":240,"wires":[]},{"id":"67e77c04.91490c","type":"http in","z":"11502e2b.8e8b4a","name":"","url":"/api/readings","method":"get","swaggerDoc":"","x":110,"y":340,"wires":[["ebd0c6d4.bc93f"]]},{"id":"ebd0c6d4.bc93f","type":"cloudant in","z":"11502e2b.8e8b4a","name":"","cloudant":"","database":"rasppi-sensehat-acceleration-shocks","service":"WorldofWatson-BasicIoT-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":410,"y":340,"wires":[["83c8bd34.29f4"]]},{"id":"83c8bd34.29f4","type":"http response","z":"11502e2b.8e8b4a","name":"","x":670,"y":340,"wires":[]}]
