flows/Weather-Bluemix.flow
[{"id":"7f39a9cb.915f38","type":"inject","z":"b3bdcce0.7d74a","name":"Query Weather every 5 min","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":true,"x":180,"y":40,"wires":[["6ec3542d.480b3c"]]},{"id":"6ec3542d.480b3c","type":"weather_insights","z":"b3bdcce0.7d74a","name":"Get Current Weather","service":"/observations.json","geocode":"40.9793,-74.1165","units":"e","language":"en-US","x":140,"y":120,"wires":[["3a962090.91d198","b755ca16.d725f","2ec3a55a.0d562a"]]},{"id":"aa2cb95.1a5b248","type":"ibmiot out","z":"b3bdcce0.7d74a","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"WoWSenseHat","deviceType":"RaspberryPi","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":800,"y":60,"wires":[]},{"id":"2ec3a55a.0d562a","type":"debug","z":"b3bdcce0.7d74a","name":"","active":true,"console":"false","complete":"observation","x":430,"y":180,"wires":[]},{"id":"3a962090.91d198","type":"function","z":"b3bdcce0.7d74a","name":"Construct IoT MQTT payload","func":"return {\n payload: {\n d: {\n temp: msg.observation.temp\n }\n }\n};","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["17b500a5.ef47d7"]]},{"id":"b755ca16.d725f","type":"function","z":"b3bdcce0.7d74a","name":"Temp in Ridgewood","func":"return { payload:'Ridgewood Temp: '+msg.observation.temp+'*F'};","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["c3388e09.bac7d8"]]},{"id":"c3388e09.bac7d8","type":"debug","z":"b3bdcce0.7d74a","name":"","active":true,"console":"false","complete":"false","x":770,"y":120,"wires":[]},{"id":"17b500a5.ef47d7","type":"json","z":"b3bdcce0.7d74a","name":"","x":650,"y":60,"wires":[["aa2cb95.1a5b248","c3388e09.bac7d8"]]}]
