flows/Weather-local.flow
[{"id":"ebc0bf16.c6e4f","type":"debug","z":"a00b1f17.ff234","name":"","active":true,"console":"false","complete":"false","x":430,"y":60,"wires":[]},{"id":"a8b449a8.ffd2d8","type":"function","z":"a00b1f17.ff234","name":"Format Weather Report","func":"// The following message properties can be used \n// to customise the appearance of the LED\n//  msg.color - the colour of the text, default: white\n//   msg.background - the colour of the background, default: off\n//  msg.speed - the scroll speed. A value in the range 1 (slower) to 5 (faster), default: 3\nmsg.speed = 1;\nmsg.payload = 'Ridgewood Temp: '+msg.payload.d.temp+'*F';\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["8bdf62ab.96d94","e4087c25.61cd68"]]},{"id":"8bdf62ab.96d94","type":"rpi-sensehat out","z":"a00b1f17.ff234","name":"Display Weather Conditions on SenseHAT LED","x":320,"y":220,"wires":[]},{"id":"54c4dab0.cbbe74","type":"wiotp in","z":"a00b1f17.ff234","authType":"g","deviceKey":"6eba1089.11bef","deviceType":"RaspberryPi","deviceId":"WoWSenseHat","command":"+","commandType":"d","name":"Weather Report from Watson IoT","x":150,"y":60,"wires":[["ebc0bf16.c6e4f","a8b449a8.ffd2d8"]]},{"id":"e4087c25.61cd68","type":"debug","z":"a00b1f17.ff234","name":"","active":true,"console":"false","complete":"false","x":490,"y":140,"wires":[]},{"id":"6eba1089.11bef","type":"wiotp-credentials","z":"","name":"WoW Credentials","org":"xxxxxx","devType":"RaspberryPi","devId":"WoWSenseHat"}]
